*{
	font-family: Helvetica;
}

/*

Color palette:

Negro:#000000;
Verde:#1DE326;
GrisOscuro:#191919;
GrisMedio:#616363;
GrisTypSobreNegro:#ACAAB3;

*/

/* HOME */

/* Tag's */

body{

	background-color: #000000;
}
nav,section,footer,div{
	display: flex;
	flex-flow: row wrap;
}

footer{
	background-color: #191919;
	position: relative;
}

a{
	background-color: #1DE326;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color:#000000;
	text-decoration: none;
}

button{
	width: 90px;
	height: 30px;
	background-color: #1DE326;
	margin: 10px;
	padding: 0px;
	border-radius: 10px;
	color:#000000;
	text-decoration: none;
	font-size: 15px;
<<<<<<< HEAD
	font-weight:bold;
	display: inline-block; 
	margin-top: 15px;
=======
	font-weight:bold; 

>>>>>>> 46b975f5b2660f9236fc3d9fd4366025c8804992
}

form.bar input[type=text] {
	flex:2;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #616363;
    margin-top: 10px;
}


/* Id's */


#fpopular{
	background-color: #616363;
	width: 400px;
	height: 400px;
	border-radius: 250px;
	margin-top: 80px;
}

#spopular{
	background-color: #616363;
	width: 300px;
	height: 300px;
	border-radius: 250px;
	margin:20px;
	margin-left: 80px;
	position: relative;
}

#tpopular{
	background-color: #616363;
	width: 200px;
	height: 200px;
	border-radius: 250px;
	position: absolute;
	bottom: 70px;
	margin-left: 100px; 
}

#search{
	width: 270px;
	height: 20px;
	background-color: #191919;
	border-color: #252526;

}

#glyph1{
	width: 40px;
	padding:5px;
}

/* Classes */
.button{
	width: 150px;
	height: 40px;
	background-color: #1DE326;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color:#000000;
	text-decoration: none;
	justify-content: space-around;
	font-size: 15px;
	font-weight:bold; 
}
.hpercent{
	width: 100%;
	
}

.line{
	flex:2;
	text-align: right;

	display: inline-block;
}

.logo{

	flex:1;
	width: 100px;
	height: 100px;
	background-color: #1DE326;

}

.navBar{
	width:100%;
<<<<<<< HEAD
	height:175px;
=======
	height:150px;

>>>>>>> 46b975f5b2660f9236fc3d9fd4366025c8804992
	background-color:#191919;

}

.popularGames{
	justify-content: center;
	padding: 20px;
	width: 90%;
	height: 600px;
	background-color:#000000;

	margin: 0 auto;
}

.center{
<<<<<<< HEAD
	display: flex;
	width: 80%;
	justify-content: center;
	margin: 0 auto;
=======

	justify-content: space-between;
>>>>>>> 46b975f5b2660f9236fc3d9fd4366025c8804992
}

.foot{
	background-color: #191919;
	height: 100px;

}
/* HOME */


/*CONTACTO*/
.formulario {
	display: flex;
	justify-content: center;
}

.contacto {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: space-around;
    padding: 30px;
	width: 400px;
	height: 400px;
	border: 3px solid black;
	border-radius: 50px;
}

.infoContacto {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #8DC25C;
	width: 400px;
	height: 400px;
}

.space {
	width: 200px;
	border-radius: 20px;
}

.container {
	margin-top: 30px;
	display: flex;
	flex-direction: wrap;
}

.boton {
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to left,#8DC25C, white); /*agrega fondo degradado*/
	border: none;
}
<<<<<<< HEAD




/*CONTACTO*/
=======
/*CONTACTO*/

>>>>>>> 46b975f5b2660f9236fc3d9fd4366025c8804992
