// Más populares
section.popularGames
  #fpopular
    img(src='../images/asacover.png')
  #spopular
    img(src='../images/batman.png' style='width:300px;height:300px;')
  #tpopular
    img(src='../images/magiapotagia.png' style='width:200px;')
// slider
.slider
  img(src='../images/slider1.png' width='1480px' height='340px')
  img(src='../images/slider2.png' width='1480px' height='340px')
  img(src='../images/slider3.png' width='1480px' height='340px')
// slider
