doctype html

head
  meta(charset='utf-8')
  title Game Station

  link(rel='stylesheet' href='https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='stylesheets/styles.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/contacto.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/conocenos.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/registro.css')

  header.header
    .logo
      img(src='../images/logo.png')
    .navibar
      .funcbar
        .sectorSearch
          input#search.searchclass(type='text' placeholder='Search...' name='search')
        .sectorLupa
          span
            i.fas.fa-search.lupa
        .sectorLogCreate
          a.buttonLink.registroLink(href='registro') Login | Registarse
          |  |
      nav.navi
        a.buttonLink(href='/') HOME
        a.buttonLink(href='conocenos') CONOCENOS
        a.buttonLink(href='') COMPRAR
        a.buttonLink(href='contacto') CONTACTO


  block content

  footer
    .foot
      #socialMedia
        i.fab.fa-instagram.icom-instagram
        i.fab.fa-facebook-square.icom-facebook
        i.fab.fa-twitter-square.icom-twitter

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js')
  script(type='text/javascript' src='js/index.js')