extends layout

block content

  // Form de Registro Usuario
  // ACA VAN LOS QUE YA FUERON REGISTRADOS
  section.bodyForm
    #usuarioRegistrado
      .botones
        button Mi Cuenta
        button#botonNoRegistrado Reg&iacute;strate
      .aCompletar
        .aCompletar
          label  Correo electr&oacute;nico
          input#mailRegistrado(type='email' name='email')
        .aCompletar
          label Ingrese su contrase&ntilde;a
          input#password(type='password' name='password')
      #ingresar.botones
        button Ingresa
    // Y ACA VAN LOS QUE SE QUIEREN UNIR
    #usuarioNoRegistrado(style='display: none;')
      .botones
        button#botonRegistrado Mi Cuenta
        button Reg&iacute;strate
      .aCompletar
        .aCompletar
          label Correo electr&oacute;nico
          input#email(type='email' name='email')
        .aCompletar
          label Ingrese su contrase&ntilde;a
          input#password1(type='password' name='password')
        .aCompletar
          label Repita su contrase&ntilde;a
          input#password2(type='password' name='password')
      #registrar.botones
        button Registrate
  // Footer
  footer
  script(type='text/javascript' src='registro.js')
